/* FONTS */




/* GENERAL */

*{
    margin: 0;
    padding: 0;
    max-width: 1195px;
}
 
body{
    font-family: Roboto, arial, sans-serif;
}

/* HEADER */

header{
    height: 120px;
}
header nav{
    float: right;
    margin-top: 40px;
}
header nav a{
    text-decoration: none;
    margin-right: 7px;
    width: 80px;
}
header img{
    float: left;
}